.grid {
    @include flex-container;
    max-width: 1872px;
    margin: auto;
    flex-wrap: wrap;
    &__item {
        width: calc((100% - 24px) / 2);
        max-width: 924px;
        &:not(:last-child),
        &:not(:nth-last-child(2)) {
            margin-bottom: 24px;
        }
        /*margin-bottom: 24px;
        &:last-child,
        &:nth-last-child(2) {
            margin-bottom: 0;
        }*/
        &:nth-child(odd) {
            margin-right: 24px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .grid__item {
        max-width: 696px;
    }
}

@media screen and (max-width: 1024px) {
    .grid__item {
        width: calc((100% - 10px) / 2);
        max-width: 602px;
        margin-bottom: 10px;
        &:nth-child(odd) {
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .grid__item {
        width: calc((100% - 12px) / 2);
        max-width: 541px;
        margin-bottom: 12px;
        &:nth-child(odd) {
            margin-right: 12px;
        }
    }
}