.title {
    font-weight: 600;
    line-height: 50.12px;
}

@media screen and (max-width: 1024px) {
    .title {
        padding-right: 15px;
        padding-left: 15px;
        line-height: 43.86px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        line-height: 37.59px;
    }
}