$bg-section: #F3F7EA;
$accent-color: #FFF;
$second-text-color: #474747;
$btn-hover: #FFA60D;
$font-family: 'Source Serif 4';
$small-font: .72rem;
$color-circle-hot: #D33B3B;
$color-circle-new: #B3E151;
$color-circle-hit: #E5A434;